{:lint-as {reagent.core/with-let                clojure.core/let
           mount.core/defstate                  clojure.core/def
           day8.re-frame.tracing/fn-traced      clojure.core/fn
           day8.re-frame.tracing/defn-traced    clojure.core/defn}
 :linters {:unresolved-symbol {:exclude [(mount.core/defstate)]}}}

